/* ========== */
/* = Mixins = */
/* ========== */

.rounded-corners (@radius: 6px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}
.inner-shadow (@x:0, @y:1px, @feather:1px, @color:#fff) {
	box-shadow: inset @x @y @feather @color;
	-moz-box-shadow: inset @x @y @feather @color;
	-webkit-box-shadow: inset @x @y @feather @color;
}
.drop-shadow (@x:0, @y:1px, @feather:1px, @color:#fff) {
	box-shadow: @x @y @feather @color;
	-moz-box-shadow: @x @y @feather @color;
	-webkit-box-shadow: @x @y @feather @color;
}
.gradient(@from: #ffffff, @to: #000000) {
	background: ((@from + @to) / 2);
	background: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
	background: -moz-linear-gradient(@from, @to);
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @from, @to));
	-ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @from, @to);
	zoom: 1;
}
.opacity(@opacity: 100) {
	opacity: @opacity;
	filter:alpha%("(opacity = %d)",@opacity);
}


//////////
// GRID //
//////////

@1g:  08.333%;	//60
@2g:  14.583%;	//140
@3g:  22.916%;	//220
@4g:  31.250%;	//300
@5g:  39.583%;	//380
@6g:  47.910%;	//460
@7g:  56.250%;	//540
@8g:  64.585%;	//620
@9g:  72.730%;	//700
@10g: 81.250%;	//780
@11g: 89.583%;	//860
@12g: 97.917%;	//940

.column {
	margin: 0 1.04%;
	overflow: hidden;
	float: left;
	display: inline;
}
.full-column {
	width: 102.25%;
	margin: 0 -1.1%;
}
.row {
	width: 97.875%;
	margin: 0 1.064%;
	overflow-x: auto;
	overflow-y: visible;
}
.nested-row {
	.row;
	min-width: 0;
	width: auto;
	display: inline-block;
}


///////////
// RESET //
///////////

* { margin: 0; padding: 0; }
a img, form, fieldset { border: none; }
p { margin-bottom: 20px; }
nav, aside, header, article, section, footer { display: block; }


//////////
// TYPE //
//////////

body {
	font-family: Helvetica, Arial sans-serif;
	font-size: 1em;
	-webkit-text-size-adjust: 200%;
}
h1, h2, h3 {
	font-family: Georgia;
	margin: 1.5em 0 0.5em 0;
}


//////////
// CODE //
//////////

pre,
.example {
	background-color: #e5e5e5;
	padding: 1em;
	margin-bottom: 1.5em;
	overflow-x: auto;
	
	em {
		font-style: normal;
		font-weight: bold;
	}
	span {
		color: #999;
	}
	
	ol,
	ul {
		margin-left: 1.5em;
	}
}
pre {
	font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
}


/////////
// NAV //
/////////

nav ul {
	overflow: hidden;

	li {
		list-style: none outside none;
		float: left;
		margin-right: 0.5em;
		
		a {
			display: block;
			padding: 0.5em;
			
			&:hover {
				background-color: #e5e5e5;
			}
			&:active {
				background-color: #ccc;
			}
		}
		
		&.download {
			a {
				color: white;
				background-color: blue;
				
				&:hover {
					background-color: darkblue;
				}
				&:active {
					background-color: black;
				}
			}
		}
	}
}


/////////
// TOP //
/////////

nav#top,
footer#bottom {
	background-color: black;
	color: #fff;
	
	&#bottom {
		margin-top: 2em;
		padding: 2em 0;
	}
	
	section {
		.row;
		
		p {
			.column;
			width: @12g;
			line-height: 2em;
			
			a {
				color: white;
			}
		}
	}
}


////////////
// HEADER //
////////////

header {
	.row;

	section#hero {
		.column;
		width: @6g;
	
		h1 {
			margin: 1em 0 0.5em 0;
			font-size: 4em;
		}
		p {
			font-family: Georgia;
			font-size: 1.5em;
		}
		nav#actions ul {
			margin-bottom: 1.5em;
		
			li {
				a {
					padding: 1em;
				}
			}
		}
		ul#features {
			li {
				list-style: circle outside none;
				margin: 0.75em 0 0.75em 2em;
				padding: 0 0 0 0.5em;
			}
		}
	}
	aside#example {
		.column;
		width: @6g;

		padding-top: 2.5em;
	
		h3 {
			font-size: 1.5em;
			font-weight: normal;
		}
	}
}
@media screen and (max-width: 900px) {
	header section#hero {
		width: @12g;
	}
	header aside#example {
		width: @12g;
		padding-top: 0;
	}
}
@media screen and (max-device-width: 480px) {
	header section#hero {
		width: @12g;
	}
	header aside#example {
		width: @12g;
		padding-top: 0;
	}
}


////////////
// QUOTES //
////////////

aside#quotes {
	margin: 2em 0 0 0;
	padding: 0.5em 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	
	div {
		background-color: #f2f2f2;
		
		section {
			.row;
			padding: 2.5em 0;
		
			blockquote {
				.column;
				width: @12g;
				text-align: center;
				font-family: Georgia;
				font-size: 1.75em;
				color: #666;
			
				p {
					margin: 0;
				
					span, a {
						font-size: 0.75em;
						font-family: Helvetica;
						font-weight: 300;
						color: #999;
					}
					span {
						display: block;
						margin-top: 0.5em;
					}
				}
			}
		}
	}
}
/*
@media (max-width: 900px) {
	aside#quotes div section blockquote {
		width: @6g;
		
		&.last {
			display: none;
		}
	}
}
@media (max-width: 600px) {
	aside#quotes div section blockquote {
		width: @12g;
		
		&.second {
			display: none;
		}
	}
}
*/


///////////
// USAGE //
///////////

article#usage {
	.row;
	
	section.usage {
		.column;
		width: @12g;
		
		h2 {
			font-size: 2.75em;
			font-weight: normal;
			float: left;
		}
		nav {
			float: left;
			margin: 4.9em 0 0 2em;
		}
		h3 {
			clear: both;
			font-size: 1.5em;
			font-weight: normal;
			border-bottom: 1px solid #ccc;
			margin-top: 2em;
		}
		h5 {
			margin-left: 2em;
			margin-top: -1em;
			font-size: 0.9em;
		}
		p.h5 {
			margin-left: 2em;
			margin-bottom: 2em;
			font-size: 0.9em;
		}
	}
}


//////////////
//BOTTOM NAV//
//////////////

nav#actions2 {
	.row;
	text-align: center;

	ul {
		margin: 2em 0;
		display: inline-block;
		
		li a {
			padding: 1em;
		}
	}
}