/* ========== */
/* = Mixins = */
/* ========== */
* {
  margin: 0;
  padding: 0;
}
a img, form, fieldset {
  border: none;
}
p {
  margin-bottom: 20px;
}
nav,
aside,
header,
article,
section,
footer {
  display: block;
}
body {
  font-family: Helvetica, Arial sans-serif;
}
h1, h2, h3 {
  font-family: Georgia;
  margin: 1.5em 0 0.5em 0;
}
pre {
  font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
  background-color: #e5e5e5;
  padding: 1em;
  margin-bottom: 1.5em;
}
pre em {
  font-style: normal;
  font-weight: bold;
}
.column {
  margin: 0 1.04%;
  overflow: hidden;
  float: left;
  display: inline;
}
.full-column {
  width: 102.25%;
  margin: 0 -1.1%;
}
.row {
  width: 97.875%;
  margin: 0 1.064%;
  overflow-x: auto;
  overflow-y: visible;
}
.nested-row {
  width: 97.875%;
  margin: 0 1.064%;
  overflow-x: auto;
  overflow-y: visible;
  min-width: 0;
  width: auto;
  display: inline-block;
}
nav#top, footer#bottom {
  background-color: black;
  color: #fff;
}
nav#top#top, footer#bottom#top {
  margin-bottom: 2em;
}
nav#top#bottom, footer#bottom#bottom {
  margin-top: 2em;
  padding: 2em 0;
}
nav#top section, footer#bottom section {
  width: 97.875%;
  margin: 0 1.064%;
  overflow-x: auto;
  overflow-y: visible;
}
nav#top section p, footer#bottom section p {
  margin: 0 1.04%;
  overflow: hidden;
  float: left;
  display: inline;
  width: 97.917%;
  line-height: 2em;
}
nav#top section p a, footer#bottom section p a {
  color: white;
}
header {
  width: 97.875%;
  margin: 0 1.064%;
  overflow-x: auto;
  overflow-y: visible;
}
header section#hero {
  margin: 0 1.04%;
  overflow: hidden;
  float: left;
  display: inline;
  width: 47.917%;
}
header section#hero h1 {
  margin: 1em 0 0.5em 0;
  font-size: 4em;
}
header section#hero p {
  font-family: Georgia;
  font-size: 1.5em;
}
header section#hero nav#actions ul {
  overflow: hidden;
  margin-bottom: 1.5em;
}
header section#hero nav#actions ul li {
  list-style: none outside none;
  float: left;
  margin-right: 0.5em;
}
header section#hero nav#actions ul li a {
  display: block;
  padding: 1em;
}
header section#hero nav#actions ul li.download a {
  background-color: blue;
  color: white;
}
header section#hero nav#actions ul li.download a:hover {
  background-color: darkblue;
}
header section#hero nav#actions ul li a:hover {
  background-color: #e5e5e5;
}
header section#hero ul#features li {
  list-style: circle outside none;
  margin: 0.75em 0 0.75em 2em;
  padding: 0 0 0 0.5em;
}
header aside#example {
  margin: 0 1.04%;
  overflow: hidden;
  float: left;
  display: inline;
  width: 47.917%;
  padding-top: 2.5em;
}
header aside#example h3 {
  font-size: 1.5em;
  font-weight: normal;
}
@media (max-width: 900px) {
  header section#hero {
    width: 97.917%;
  }
  header aside#example {
    width: 97.917%;
    padding-top: 0;
  }
}
aside#quotes {
  margin: 2em 0 0 0;
  padding: 0.5em 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
aside#quotes div {
  background-color: #f2f2f2;
}
aside#quotes div section {
  width: 97.875%;
  margin: 0 1.064%;
  overflow-x: auto;
  overflow-y: visible;
  padding: 2em 0;
}
aside#quotes div section blockquote {
  margin: 0 1.04%;
  overflow: hidden;
  float: left;
  display: inline;
  width: 31.25%;
  text-align: center;
  font-family: Georgia;
  font-size: 1.5em;
  color: #666;
}
aside#quotes div section blockquote p {
  margin: 0;
}
aside#quotes div section blockquote p span {
  margin-top: 0.5em;
  font-size: 0.75em;
  font-family: Helvetica;
  font-weight: 300;
  display: block;
  color: #999;
}
@media (max-width: 900px) {
  aside#quotes div section blockquote {
    width: 47.917%;
  }
  aside#quotes div section blockquote.last {
    display: none;
  }
}
@media (max-width: 600px) {
  aside#quotes div section blockquote {
    width: 97.917%;
  }
  aside#quotes div section blockquote.second {
    display: none;
  }
}
article#usage {
  width: 97.875%;
  margin: 0 1.064%;
  overflow-x: auto;
  overflow-y: visible;
}
article#usage section.usage {
  margin: 0 1.04%;
  overflow: hidden;
  float: left;
  display: inline;
  width: 97.917%;
}
article#usage section.usage h2 {
  font-size: 2.75em;
  font-weight: normal;
}
article#usage section.usage h3 {
  font-size: 1.5em;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
}
article#usage section.usage h5 {
  margin-left: 2em;
  font-size: 0.9em;
}
article#usage section.usage p.h5 {
  margin-left: 2em;
  font-size: 0.9em;
}
#everything-else {
  display: none;
}
