.column {
  margin: 0 1.04%;
  overflow: hidden;
  float: left;
  display: inline;
}
.full-column {
  width: 102.25%;
  margin: 0 -1.1%;
}
.row {
  width: 97.875%;
  margin: 0 1.064%;
  overflow-x: auto;
  overflow-y: visible;
}
.nested-row {
  width: 97.875%;
  margin: 0 1.064%;
  overflow-x: auto;
  overflow-y: visible;
  min-width: 0;
  width: auto;
  display: inline-block;
}
* {
  margin: 0;
  padding: 0;
}
a img, form, fieldset {
  border: none;
}
p {
  margin-bottom: 20px;
}
nav,
aside,
header,
article,
section,
footer {
  display: block;
}
body {
  font-family: Helvetica, Arial sans-serif;
  font-size: 1em;
  -webkit-text-size-adjust: 200%;
}
h1, h2, h3 {
  font-family: Georgia;
  margin: 1.5em 0 0.5em 0;
}
pre, code {
  font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
}
pre, .example {
  background-color: #e5e5e5;
  padding: 1em;
  margin-bottom: 1.5em;
  overflow-x: auto;
}
pre em, .example em {
  font-style: normal;
  font-weight: bold;
}
pre span, .example span {
  color: #999;
}
pre ol,
.example ol,
pre ul,
.example ul {
  margin-left: 1.5em;
}
nav ul {
  overflow: hidden;
}
nav ul li {
  list-style: none outside none;
  float: left;
  margin-right: 0.5em;
}
nav ul li a {
  display: block;
  padding: 0.5em;
}
nav ul li a:hover {
  background-color: #e5e5e5;
}
nav ul li a:active {
  background-color: #ccc;
}
nav ul li.download a {
  color: white;
  background-color: blue;
}
nav ul li.download a:hover {
  background-color: darkblue;
}
nav ul li.download a:active {
  background-color: black;
}
nav#top, footer#bottom {
  background-color: black;
  color: #fff;
}
nav#top#bottom, footer#bottom#bottom {
  margin-top: 2em;
  padding: 2em 0;
}
nav#top section, footer#bottom section {
  width: 97.875%;
  margin: 0 1.064%;
  overflow-x: auto;
  overflow-y: visible;
}
nav#top section p, footer#bottom section p {
  margin: 0 1.04%;
  overflow: hidden;
  float: left;
  display: inline;
  width: 97.917%;
  line-height: 2em;
}
nav#top section p a, footer#bottom section p a {
  color: white;
}
header {
  width: 97.875%;
  margin: 0 1.064%;
  overflow-x: auto;
  overflow-y: visible;
}
header section#hero {
  margin: 0 1.04%;
  overflow: hidden;
  float: left;
  display: inline;
  width: 47.85%;
}
header section#hero h1 {
  margin: 1em 0 0.25em 0;
  font-size: 4em;
}
header section#hero p {
  font-family: Georgia;
  font-size: 1.5em;
}
header section#hero nav#actions ul {
  margin: 2em 0;
}
header section#hero nav#actions ul li a {
  padding: 1em;
}
header section#hero ul#features li {
  list-style: circle outside none;
  margin: 0.75em 0 0.75em 2em;
  padding: 0 0 0 0.5em;
}
header aside#example {
  margin: 0 1.04%;
  overflow: hidden;
  float: left;
  display: inline;
  width: 47.85%;
  padding-top: 2.5em;
}
header aside#example h3 {
  font-size: 1.5em;
  font-weight: normal;
}
@media screen and (max-width: 900px) {
  header section#hero {
    width: 97.917%;
  }
  header aside#example {
    width: 97.917%;
    padding-top: 0;
  }
}
@media screen and (max-device-width: 480px) {
  header section#hero {
    width: 97.917%;
  }
  header aside#example {
    width: 97.917%;
    padding-top: 0;
  }
}
aside#quotes {
  margin: 2em 0 0 0;
  padding: 0.5em 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
aside#quotes div {
  background-color: #f2f2f2;
}
aside#quotes div section {
  width: 97.875%;
  margin: 0 1.064%;
  overflow-x: auto;
  overflow-y: visible;
  padding: 2.5em 0;
}
aside#quotes div section blockquote {
  margin: 0 1.04%;
  overflow: hidden;
  float: left;
  display: inline;
  width: 97.917%;
  text-align: center;
  font-family: Georgia;
  font-size: 1.75em;
  color: #666;
}
aside#quotes div section blockquote p {
  margin: 0;
}
aside#quotes div section blockquote p span, aside#quotes div section blockquote p a {
  font-size: 0.75em;
  font-family: Helvetica;
  font-weight: 300;
  color: #999;
}
aside#quotes div section blockquote p span {
  display: block;
  margin-top: 0.5em;
}
/*
@media (max-width: 900px) {
	aside#quotes div section blockquote {
		width: @6g;
		
		&.last {
			display: none;
		}
	}
}
@media (max-width: 600px) {
	aside#quotes div section blockquote {
		width: @12g;
		
		&.second {
			display: none;
		}
	}
}
*/
article#usage {
  width: 97.875%;
  margin: 0 1.064%;
  overflow-x: auto;
  overflow-y: visible;
}
article#usage section.usage {
  margin: 0 1.04%;
  overflow: hidden;
  float: left;
  display: inline;
  width: 97.917%;
}
article#usage section.usage h2 {
  font-size: 2.75em;
  font-weight: normal;
  float: left;
}
article#usage section.usage nav {
  float: left;
  margin: 4.9em 0 0 2em;
}
article#usage section.usage h3 {
  clear: both;
  font-size: 1.5em;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  margin-top: 2em;
}
article#usage section.usage h5 {
  margin-left: 2em;
  margin-top: -1em;
  font-size: 0.9em;
}
article#usage section.usage p.h5 {
  margin-left: 2em;
  margin-bottom: 2em;
  font-size: 0.9em;
}
nav#actions2 {
  width: 97.875%;
  margin: 0 1.064%;
  overflow-x: auto;
  overflow-y: visible;
  text-align: center;
}
nav#actions2 ul {
  margin: 2em 0;
  display: inline-block;
}
nav#actions2 ul li a {
  padding: 1em;
}
