<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			Simplate
		</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js">
</script>
		<script type="text/javascript" src="https://github.com/twigkit/simplate/raw/master/src/simplate.js"></script>
</script>
		<style type="text/css">
li.brother.Groucho { color: red; }
		li#Gummo {text-decoration: line-through;}
		li.favorite { color: green; }
		a.from { display: block; font-size: 1.1em; font-weight: bold;}
		</style>
		<script type="text/javascript">
window.onload = function() {
			var data = [
					{'name':{'first':'Leonard', 'last':'Marx'}, 'nickname':'Chico', 'born': 'March 21, 1887', 'actor': true, 'sole_endevors' : [{'title':'Papa Romani'}]},
					{'name':{'first':'Adolph', 'last':'Marx'}, 'nickname':'Harpo', 'born': 'November 23, 1888', 'actor': true, 'sole_endevors' : [{'title':'Too Many Kisses', 'rating':'favorite'}, {'title':'Stage Door Canteen'}]},
					{'name':{'first':'Julius Henry', 'last':'Marx'}, 'nickname':'Groucho', 'born': 'October 2, 1890', 'actor': true, 'sole_endevors' : [{'title':'Copacabana'}, {'title':'Mr. Music', 'rating':'favorite'}, {'title':'Double Dynamite'}]},
					{'name':{'first':'Milton', 'last':'Marx'}, 'nickname':'Gummo', 'born': 'October 23, 1892'},
					{'name':{'first':'Herbert', 'last':'Marx'}, 'nickname':'Zeppo', 'born': 'February 25, 1901', 'actor': true, 'sole_endevors' : [{'title':'A Kiss in the Dark'}]}
				];

			// Simple template
			SIMPLATE.prepare('simple-marx-brothers').render(data);
			
			// Nested template
			SIMPLATE.prepare('nested-marx-brothers').render(data);
			
			// Multiple templates
			SIMPLATE.prepare('more-marx-brothers').render(data);
			
			// Complex templates
			SIMPLATE.prepare('complex-marx-brothers').render(data);
			
			// jQuery example
			var twitter = SIMPLATE.prepare('jquery-ajax-twitter');
			$.getJSON("http://search.twitter.com/search.json?q='groucho marx'&rpp=5&callback=?", function(data) {
				twitter.render(data.results);
			});
		}
		</script>
		<style type="text/css">
.tweet img { float: left; height: 48px; width: 48px;}
		.tweet div { margin-left: 58px;}
		</style>
	</head>
	<body>
		<h1>
			Simplate &gt; The Simple JavaScript Template Engine
		</h1>
		<h2>
			Usage
		</h2>
		<h3>
			JavaScript
		</h3>
		<pre>
    /*
     * element : ID or an instance of an HTMLElement
     * data    : An array of objects
     */
    SIMPLATE.prepare( element ).render( data );
</pre>
		<h3>
			HTML
		</h3>
		<p>
			Any tag with data-template attribute will be considered a template
		</p>
		<pre>
    &lt;div id="container"&gt;
        &lt;span data-template&gt;{{foo.bar}}&lt;/span&gt;
    &lt;/div&gt;
</pre>
		<h2>
			Examples
		</h2>
		<p>
			The following examples will use this sample data
		</p>
		<pre>
    var data = [
            {'name':{'first':'Leonard', 'last':'Marx'}, 'nickname':'Chico', 'born': 'March 21, 1887', 'actor': true, 'sole_endevors' : [{'title':'Papa Romani'}]},
            {'name':{'first':'Adolph', 'last':'Marx'}, 'nickname':'Harpo', 'born': 'November 23, 1888', 'actor': true, 'sole_endevors' : [{'title':'Too Many Kisses', 'rating':'favorite'}, {'title':'Stage Door Canteen'}]},
            {'name':{'first':'Julius Henry', 'last':'Marx'}, 'nickname':'Groucho', 'born': 'October 2, 1890', 'actor': true, 'sole_endevors' : [{'title':'Copacabana'}, {'title':'Mr. Music', 'rating':'favorite'}, {'title':'Double Dynamite'}]},
            {'name':{'first':'Milton', 'last':'Marx'}, 'nickname':'Gummo', 'born': 'October 23, 1892'},
            {'name':{'first':'Herbert', 'last':'Marx'}, 'nickname':'Zeppo', 'born': 'February 25, 1901', 'actor': true, 'sole_endevors' : [{'title':'A Kiss in the Dark'}]}
        ];
</pre>
		<h3>
			Simple template
		</h3>
		<h4>
			JavaScript
		</h4>
		<pre>
    SIMPLATE.prepare('simple-marx-brothers').render(data);
</pre>
		<h4>
			HTML
		</h4>
		<pre>
    &lt;ol id="simple-marx-brothers"&gt;
        &lt;li data-template&gt;{{nickname}} {{name.last}}&lt;/li&gt;
    &lt;/ol&gt;
</pre>
		<h4>
			Output
		</h4>
		<ol id="simple-marx-brothers">
			<li data-template="">{{nickname}} {{name.last}}
			</li>
		</ol>
		<h3>
			Nested templates
		</h3>
		<h4>
			JavaScript
		</h4>
		<pre>
    SIMPLATE.prepare('nested-marx-brothers').render(data);
</pre>
		<h4>
			HTML
		</h4>
		<pre>
    &lt;style&gt;
        li.favorite { color: green; }
    &lt;/style&gt;
    
    &lt;li data-template&gt;
        {{nickname}} {{name.last}}
        &lt;ul&gt;
            &lt;li data-template="sole_endevors" class="{{rating}}"&gt;{{title}}&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/li&gt;
</pre>
		<h4>
			Output
		</h4>
		<ol id="nested-marx-brothers">
			<li data-template="">{{nickname}} {{name.last}}
				<ul>
					<li data-template="sole_endevors" class="{{rating}}">{{title}}
					</li>
				</ul>
			</li>
		</ol>
		<h3>
			Template selectors
		</h3>
		<h4>
			JavaScript
		</h4>
		<pre>
    SIMPLATE.prepare('more-marx-brothers').render(data);
</pre>
		<h4>
			HTML
		</h4>
		<pre>
    &lt;style&gt;
        li.brother.Groucho { color: red; }
        li#Gummo {text-decoration: line-through;}
    &lt;/style&gt;

    &lt;ul id="more-marx-brothers"&gt;
        &lt;li data-template data-if-nickname="Groucho" class="brother {{nickname}}"&gt;{{nickname}} (aka {{name.first}}) was grumpy!&lt;/li&gt;
        &lt;li data-template data-if-actor class="brother"&gt;{{name.first}}, nicknamed '&lt;i&gt;{{nickname}} {{name.last}}&lt;/i&gt;' was born on {{born}}&lt;/li&gt;
        &lt;!-- Default template --&gt;
        &lt;li data-template id="{{nickname}}" class="brother"&gt;{{name.first}} {{name.last}} was not in any movies!&lt;/li&gt;
    &lt;/ul&gt;
</pre>
		<h4>
			Output
		</h4>
		<ul id="more-marx-brothers">
			<li data-template="" data-if-nickname="Groucho" class="brother {{nickname}}">{{nickname}} (aka {{name.first}}) was grumpy!
			</li>
			<li data-template="" data-if-actor="" class="brother">{{name.first}}, nicknamed '<i>{{nickname}} {{name.last}}</i>' was born on {{born}}
			</li><!-- Default template -->
			<li data-template="" id="{{nickname}}" class="brother">{{name.first}} {{name.last}} was not in any movies!
			</li>
		</ul>
		<h3>
			More complex templates
		</h3>
		<h4>
			JavaScript
		</h4>
		<pre>
    SIMPLATE.prepare('complex-marx-brothers').render(data);
</pre>
		<h4>
			HTML
		</h4>
		<pre>
    &lt;table id="complex-marx-brothers" border="0" cellspacing="2" cellpadding="2"&gt;
        <br>
    &lt;tbody&gt; &lt;tr&gt; &lt;th&gt;Last Name&lt;/th&gt; &lt;th&gt;First Name&lt;/th&gt; &lt;th&gt;DOB&lt;/th&gt; &lt;th&gt;Grumpy&lt;/th&gt; &lt;/tr&gt; &lt;tr data-template&gt; &lt;td&gt;{{name.last}}&lt;/td&gt; &lt;td&gt;{{name.first}}&lt;/td&gt; &lt;td&gt;{{born}}&lt;/td&gt; &lt;td&gt;{{if nickname == 'Groucho' &amp;&amp; name.last == 'Marx'}}&lt;span&gt;X&lt;/span&gt;{{endif}}&lt;/td&gt; &lt;/tr&gt; &lt;/tbody&gt;


    &lt;/table&gt;
</pre>
		<h4>
			Output
		</h4>
		<table id="complex-marx-brothers" border="0" cellspacing="2" cellpadding="2">

			<thead>
				<tr>
				<th>
					Last Name
				</th>
				<th>
					First Name
				</th>
				<th>
					DOB
				</th>
				<th>
					Grumpy
				</th>
				</tr>
			</thead>
			<tbody>
			<tr data-template="">
				<td>
					{{name.last}}
				</td>
				<td>
					{{name.first}}
				</td>
				<td>
					{{born}}
				</td>
				<td>
					{{if nickname == 'Groucho' &amp;&amp; name.last == 'Marx'}}<span>X</span>{{endif}}
				</td>
			</tr>
			</tbody>
		</table>
		<h3>
			Using with jQuery for AJAX
		</h3>
		<h4>
			JavaScript
		</h4>
		<pre>
    var twitter = SIMPLATE.prepare('jquery-ajax-twitter');
    $.getJSON("http://search.twitter.com/search.json?q='marx brothers'&amp;callback=?", function(data) {
            twitter.render(data.results);
        });
</pre>
		<h4>
			HTML
		</h4>
		<pre>
    &lt;style&gt;
        .tweet img { float: left; height: 48px; width: 48px;}
        .tweet div { margin-left: 58px;}
    &lt;/style&gt;

    &lt;div id="jquery-ajax-twitter"&gt;
        &lt;div data-template class="tweet"&gt;
            &lt;img src="{{profile_image_url}}" /&gt;
            &lt;div&gt;
                &lt;a href="http://twitter.com/{{from_user}}"&gt;{{from_user}}&lt;/a&gt; ({{created_at}})
                &lt;p&gt;{{text}}&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
</pre>
		<h4>
			Output
		</h4>
		<div id="jquery-ajax-twitter">
			<div data-template="" class="tweet">
				<img src="{{profile_image_url}}">
				<div>
					<a href="http://twitter.com/{{from_user}}">{{from_user}}</a> ({{created_at}})
					<p>
						{{text}}
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
